language: c
compiler:
  - gcc
  - clang
notifications:
  recipients:
    - kenhys@gmail.com
branches:
  only:
    - master
    - develop
env:
  - SYLPHEED_STAGE=master
  - SYLPHEED_STAGE=3.5
  - SYLPHEED_STAGE=3.4
before_script:
  - curl --location https://raw.githubusercontent.com/kenhys/sylpheed-plugin-factory/master/misc/travis/sylplugin-factory.sh | sh
  - ./autogen.sh
script:
  - curl --location https://raw.githubusercontent.com/kenhys/sylpheed-plugin-factory/master/misc/travis/configure.sh | sh
  - make V=1
